{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Man Kuldeep Jhinjer - Profolio</title>
{% endblock %}

{% block body %}
    <div class="container index-intro">
        <div class="row">
            <div class="col-md-4 intro-left">
                <img src="{% static 'img/kuldeep.jpeg' %}" alt="My photo" name="kuldepp jhinjer" width="50%" height="50%" style="object-fit: center">
                <h2>
                    <span>Man Kuldeep Singh</span><br>
                    <span>Jhinjer</span>
                </h2>
                <p>Full Stack Developer</p>
                <div class="my-social-media">
                    <p>
                        <a target="_blank" href="https://github.com/jhinger2121"><i class="fab fa-github"></i></a>                        
                    </p>
                    <p>
                        <a target="_blank" href="mailto: Kjhinjer4563@conestogac.on.ca"><i class="fas fa-envelope"></i></a>                        
                    </p>
                    <p>
                        <a target="_blank" href="https://www.instagram.com/jhinjer_pb19/"><i class="fab fa-instagram"></i></a>                        
                    </p>
                </div>

            </div>
            <div class="col-md-8 intro-right">
                <h1>Biography</h1>
                <p>
                    Hi, I’m Kuldeep Jhinjer, currently Studying Web Design and Development at Conestoga College. I have a  Bachelor of Computer Applications in CS from SD college Barnala.
                </p>
                <p>
                    Previously, I worked at Works Applications, In Bathinda as a front-end developer at some startups,  I build so many applications for many different originations. And also meat so many people that have the same profession as me. I have also my projects listed on GitHub, right now I'm working on a drawing app using javascript, the reason why I'm making this app is that I want to visualize the project that I'm working on easily to remember things. Aside from work, I am also an open-source enthusiast and have created projects that were listed in GitHub trending.
                </p>
                <p>
                    My interests lie in solving problems related to web technologies. And design large size web applications. My dream is to become a Full Stack Developer.
                </p>

                <div class="intro-dec">
                    <div class="intro-interests">
                        <h3>Interests</h3>
                        <ul>
                            <li>Web Developer</li>
                            <li>Python</li>
                            <li>Full Stack Developer</li>
                            <li>JavaScript</li>
                        </ul>
                    </div>
                    <div class="intro-education">
                        <h3>Education</h3>
                        <div class="my-education">
                            <div class="my-edu">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                                    <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                    <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                                </svg>
                                <div class="my-edu-info">
                                    <span>Web Design and Development</span><br>
                                    <span>Conestoga college Kitchener</span>
                                </div>
                            </div>
                            <div class="my-edu">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                                    <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                    <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                                </svg>
                                <div class="my-edu-info">
                                    <span>Bachelor of Computer Art</span><br>
                                    <span>SD College Barnala</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fulid post-container">
        <div class="container">
            <div class="row post-se">
                <div class="col-lg-4">
                    <h1>Recent Posts</h1>
                </div>
                <div class="col-lg-8">
                    {% for post in posts%}
                        <div class="post">
                            <span class="p-title">
                                <h4><a href="#">{{ post.headline }}</a></h4>
                            </span>
                            <p class="p-headline">{{ post.tagline }}</p>
                            <p class="p-since">{{ post.pub_date }}</p>
                        </div>
                    {% endfor %}
                    
                    <a href="{% url 'all_posts' %}" class="all-post-btn">SEE ALL POSTS
                        <i class="fas fa-arrow-circle-right" style="margin-bottom: 50px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}