{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>My Projects</title>
{% endblock %}

{% block body %}

    <div class="container-fulid post-container">
        <div class="container">
            <div class="row post-se">
                <div class="col-lg-4">
                    <h1>Projects</h1>
                </div>
                <div class="col-lg-8">
                    <div class="project">
                        <div class="post">
                            <span class="p-title">
                                <h4><a href="https://github.com/jhinger2121/django_news_aggregator">Drawing app in javascript</a></h4>
                            </span>
                            <p class="p-headline">Why i chose this application to build with javascript</p>
                            <p class="p-by">Man Kuldeep Singh Jhinjer</p>
                            <a href="https://github.com/jhinger2121/django_news_aggregator" class="p-button">
                                <i class="fab fa-github"></i>
                                Code
                            </a>
                        </div>
                        <img class="project-img" src="{% static 'img/javascript.png' %}" alt="Javascript Image" width="200" height="100" name='javascript' style="object-fit: contain">
                    </div>

                    <div class="project">
                        <div class="post">
                            <span class="p-title">
                                <h4><a href="https://github.com/jhinger2121/django_news_aggregator">News aggregator with Django and Python</a></h4>
                            </span>
                            <p class="p-headline">Building news aggregator web app with Django using python web scraping</p>
                            <p class="p-by">Man Kuldeep Singh Jhinjer</p>
                            <a href="https://github.com/jhinger2121/django_news_aggregator" class="p-button">
                                <i class="fab fa-github"></i>
                                Code
                            </a>
                        </div>
                        <img src="{% static 'img/django-dark.png' %}" alt="Django Image" width="200" height="100" name="django dark">
                    </div>

                    <div class="project">
                        <div class="post">
                            <span class="p-title">
                                <h4><a href="https://github.com/jhinger2121/django_news_aggregator">Notes making app using Django</a></h4>
                            </span>
                            <p class="p-headline">Applications created with Django are separated in three separate layers: model (database), view (appearance) and controller (logic), or shortly themodel-view-controller (MVC) architecture.</p>
                            <p class="p-by">Man Kuldeep Singh Jhinjer</p>
                            <a href="https://github.com/jhinger2121/django_news_aggregator" class="p-button">
                                <i class="fab fa-github"></i>
                                Code
                            </a>
                        </div>
                        <img src="{% static 'img/django-dark.png' %}" alt="Django Image" width="200" height="100" name="django dark">
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
{% endblock body%}
