{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>My Skills</title>
{% endblock %}

{% block body %}

    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="skill-heading">Skills</h1>
                </div>
                <div class="col-12 col-md-4">
                    <div class="fab-icon">
                        <i class="fab fa-python"></i>
                    </div>
                    <h3>Python</h3>
                    <p>Django, Flask, Request</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="fab-icon">
                        <i class="fas fa-database"></i>
                    </div>
                    <h3>Databases</h3>
                    <p>MySQL, Redis, Mongoose</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="fab-icon">
                        <i class="fab fa-js-square"></i>
                    </div>
                    <h3>JavaScript</h3>
                    <p>Vanilla JavaScript, D3, React, PHP</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="fab-icon">
                        <i class="fab fa-java"></i>
                    </div>
                    <h3>Java</h3>
                    <p>Spring (Boot & MVC), JUnit, Maven</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="fab-icon">
                        <i class="fab fa-docker"></i>
                    </div>
                    <h3>DevOps</h3>
                    <p>Docker, Ansible</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="fab-icon">
                        <i class="fab fa-jenkins"></i>
                    </div>
                    <h3>continuous learning</h3>
                    <p>Design Patterns, More on JavaScript</p>
                </div>
            </div>
        </div>
    </section>
{% endblock body%}
